In [1]:
import pandas as pd
import numpy as np

In [2]:
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
from keras.optimizers import RMSprop

Using TensorFlow backend.

In [12]:
data=pd.read_csv("encoded_labeled_df")

In [13]:
data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)  Labels
0           1       1   19                  15                      39       4
1           2       1   21                  15                      81       1
2           3       0   20                  16                       6       4
3           4       0   23                  16                      77       1
4           5       0   31                  17                      40       4

In [16]:
c_data=data.copy()
c_data.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)  Labels
0           1       1   19                  15                      39       4
1           2       1   21                  15                      81       1
2           3       0   20                  16                       6       4
3           4       0   23                  16                      77       1
4           5       0   31                  17                      40       4

In [17]:
#Randomize and dividing the dataset into Training and testing sets for the features and labels

In [18]:
data_cnnnn=c_data.copy()
data_n=data_cnnnn.sample(frac=1,random_state=42)
X_train_NN=data_n.iloc[0:160,2:5]
X_test_NN=data_n.iloc[160:,2:5]
labels_train = data_n.iloc[0:160,5]
labels_test = data_n.iloc[160:,5]

In [19]:
#converting the labels into binary representaion EX : 0 1 0 0 0

In [20]:
y_train_binary = to_categorical(labels_train)
y_test_binary = to_categorical(labels_test)

len(y_test_binary)

40

In [21]:
#creating a sequential model and tuning the parameters 
#the best Learning rate is .02

In [107]:
opt = RMSprop(lr=0.02, decay=1e-6)

model = Sequential()
model.add(Dense(5,activation='relu',input_dim=3))
model.add(Dense(5, activation='sigmoid'))
model.add(Dense(5, activation='sigmoid'))
#model.compile(optimizer='rmsprop',loss='categorical_crossentropy',metrics=['accuracy'])
model.compile(loss='categorical_crossentropy', optimizer=opt,metrics=['accuracy'])
model.fit(X_train_NN,y_train_binary,epochs=10,batch_size=5)
#print(model.summary())
score = model.evaluate(X_test_NN,y_test_binary,batch_size=5)
print("accuracy=",score[1]*100,"loss=",score[0])

Epoch 1/10
160/160 [==============================] - 0s 850us/step - loss: 1.5247 - accuracy: 0.3938
Epoch 2/10
160/160 [==============================] - 0s 324us/step - loss: 1.3015 - accuracy: 0.4313
Epoch 3/10
160/160 [==============================] - 0s 318us/step - loss: 1.1552 - accuracy: 0.3938
Epoch 4/10
160/160 [==============================] - 0s 337us/step - loss: 1.0135 - accuracy: 0.4563
Epoch 5/10
160/160 [==============================] - 0s 299us/step - loss: 0.9007 - accuracy: 0.5813
Epoch 6/10
160/160 [==============================] - 0s 293us/step - loss: 0.7721 - accuracy: 0.6562
Epoch 7/10
160/160 [==============================] - 0s 299us/step - loss: 0.6810 - accuracy: 0.7688
Epoch 8/10
160/160 [==============================] - 0s 305us/step - loss: 0.6665 - accuracy: 0.7563
Epoch 9/10
160/160 [==============================] - 0s 299us/step - loss: 0.6061 - accuracy: 0.7750
Epoch 10/10
160/160 [==============================] - 0s 330us/step - loss: 0.5864 - accuracy: 0.7875
40/40 [==============================] - 0s 750us/step
accuracy= 87.5 loss= 0.4267541617155075

In [108]:
#predicting labels for the test set

In [109]:
model.predict_classes(X_test_NN)

array([2, 3, 2, 2, 0, 0, 0, 0, 3, 0, 0, 0, 1, 0, 0, 3, 2, 1, 2, 2, 1, 0,
       2, 3, 2, 2, 2, 0, 2, 0, 0, 2, 0, 3, 0, 0, 4, 0, 2, 0], dtype=int64)

In [110]:
labels_test

175    2
134    3
167    2
183    2
63     0
54     0
107    0
50     0
196    3
58     0
48     0
88     0
21     1
57     0
160    3
192    3
129    2
37     1
157    2
193    2
1      1
52     0
149    2
130    3
151    2
103    0
99     0
116    0
87     0
74     0
121    0
199    2
20     4
188    3
71     0
106    0
14     4
92     0
179    2
102    0
Name: Labels, dtype: int64

In [111]:
#Saving the model as pickle

In [112]:
import pickle

In [113]:
with open("model____.pickle","wb") as f:
    pickle.dump(model,f)

In [114]:
#loading the saved model to predict new instances

In [115]:
#this is the model with the highest accuracy 94.99

In [116]:
with open("model8BEST.pickle","rb") as f:
    md=pickle.load(f)

In [117]:
m=[[40,75,66],]
m_array=np.array(m)
m_array.shape

(1, 3)

In [118]:
#the greatest probability is the predicted class 
# the result will be class 2

In [119]:
md.predict(m_array)

array([[0.08337557, 0.10195087, 0.00227569, 0.00432716, 0.00183362]],
      dtype=float32)